@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Poppins:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .title{
    font-size: 3.5em;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: #000;
    text-align: center;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=radio] {
    width: auto;
    padding: 0px;
    border: none;
  }
  input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  .btn {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 144px;
    cursor: pointer;
    float: right;
    display: inline-block;
  }
  
  .btn:hover {
    background-color: #000000;
  }
  
  .container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    width: 70%;
    border:2px solid blueviolet;
    border-radius: 12px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px;
  margin:24px;
}